.contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

noticia {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
 principal {
    flex: 1 1 100%; 
    background: #f0f0f0;
    padding: 15px;
}
 secundaria{
    background: #f0f0f0;
    padding: 15px;
}
 